.center-cropped {
  object-fit: scale-down; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 300px;
  width: 400px;
}

.glyph-icon svg {
width:16px;
height:16px;
}