{% extends "base.html" %}

{% block title %}images{% endblock %}

{% block content %}
<div class="row text-center text-lg-left">
{% for img in images %}
    <div class="col-lg-3 col-md-4 col-xs-6">
        <figure class="figure">
            <a href="{% url 'view_image' img.id %}" class="d-block mb-4 h-100">
            <img src="{{ img.image.url }}" class="img-fluid img-thumbnail center-cropped" alt="{{ img.title }}">
            <figcaption class="figure-caption">{{ img.title }}</figcaption>
            </a>
        </figure>

        <!--<img class="img-fluid img-thumbnail center-cropped" alt="{{ img.title }}" src="">-->
    </div>
{% endfor %}
</div>

<nav aria-label="...">
 <ul class="pagination">
    {% if images.has_previous %}
     <li class="page-item"><a class="page-link" href="?page={{ images.previous_page_number }}">Previous</a></li>
    {% else %}
     <li class="page-item disabled"><span class="page-link">Previous</span></li>
    {% endif %}
    {% for page in images.paginator.page_range %}
        {% if images.number == page %}
        <li class="page-item active">
            <span class="page-link">{{ page }}</span>
        </li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{page }}">{{ page }}</a></li>
        {% endif %}
    {% endfor %}
    {% if images.has_next %}
     <li class="page-item"><a class="page-link" href="?page={{ images.next_page_number }}">Next</a></li>
    {% else %}
     <li class="page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}
 </ul>
</nav>


{% endblock %}